# Unity generated folders
Library/
Temp/
Obj/
Logs/
Build/
Builds/
UserSettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS files
Thumbs.db
.DS_Store